<div>
  <form ng-submit="vm.addPost()">
    <input ng-model="vm.newPost.name" type="text" placeholder="Name"  required>
    <input ng-model="vm.newPost.description" type="text" placeholder="Description" required>
    <input ng-model="vm.newPost.url" type="text" placeholder="URL"  required>
    <button type="submit">Save Post</button>
  </form>
</div>

<div ng-repeat="post in vm.posts">
  <h2><a ng-href="{{post.url}}">{{post.name}}</a></h2>
  <p>{{post.description}}</p>
  <button ng-click="vm.deletePost(post)" class="btn btn-danger">Delete Post</button>
  <span min=0>{{post.voteCount}}</span>
  <button ng-click="vm.upVote(post)" class="btn btn-primary">Up Vote</button>
  <button ng-click="vm.downVote(post)" class="btn btn-primary">Down Vote</button>
</div>

